/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor
*.lock
*.bundle
/examples/gan/data
/examples/gan/images
/examples/mnist/data
ml-100k*
/ext/torch/*_functions.cpp
/ext/torch/*_functions.h
