name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            os: ubuntu-24.04
          # - ruby: 3.4
          #   os: ubuntu-24.04
          # - ruby: 3.3
          #   os: ubuntu-24.04
          # - ruby: 3.2
          #   os: ubuntu-22.04
    env:
      LIBTORCH_VERSION: 2.10.0
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: actions/cache@v5
        with:
          path: ~/libtorch
          key: libtorch-${{ env.LIBTORCH_VERSION }}
        id: cache-libtorch
      - name: Download LibTorch
        if: steps.cache-libtorch.outputs.cache-hit != 'true'
        run: |
          cd ~
          wget -q -O libtorch.zip https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-$LIBTORCH_VERSION%2Bcpu.zip
          unzip -q libtorch.zip
      - run: MAKE="make -j$(getconf _NPROCESSORS_ONLN)" bundle exec rake compile -- --with-torch-dir=$HOME/libtorch
      - run: sudo apt-get update && sudo apt-get install valgrind
      - run: bundle exec rake test:valgrind TEST=test/tensor_creation_test.rb
